<div class="container">
  <div class="row muk-margin">
    <lib-muk-dynamic-buttons
      [buttons]="buttons"
      [item]=""
    ></lib-muk-dynamic-buttons>
  </div>

  <div class="row">
    <div class="muk-margin">
      <lib-muk-table
        [columns]="columns"
        [data]="tableData || []"
        [length]="tableData.length || 0"
      >
        <ng-template #name let-item="item"> {{ item.name }} </ng-template>
        <ng-template #phone let-item="item"> {{ item.phone }} </ng-template>
        <ng-template #email let-item="item"> {{ item.email }} </ng-template>
      </lib-muk-table>
    </div>
  </div>
  <div class="row">
    <div class="muk-margin">
      <lib-muk-cards [cardData]="cardData">
        <ng-template content>
          <div class="card-content">
            <div class="card-content-title">{{ cardData.title }}</div>
            <div class="card-content-subtitle">{{ cardData.subtitle }}</div>
          </div>
        </ng-template>
      </lib-muk-cards>
    </div>
  </div>
</div>
